.section4 {
  /* border-style: solid;
  border-color: black;
  border-width: 1px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec4Boxes {
  display: flex;
}

.imgSec4Content {
  font-size: larger;
  margin: 5px;
}

.sec4Content {
  font-size: medium;
}

.readMore {
  padding: 3px;
  /* border-radius: 50%; */
  background-color: #ededed;
  border: none;
}

.readMore:hover {
  color: red;
}

.sec4Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 15px;
  box-shadow: rgba(72, 122, 196, 0.4) 5px 7px 4px;
  transition: transform 0.3s;
}

.sec4Box:hover {
  background-color: #ededed;
  transform: translateY(-5px);
}

@media (max-width: 1080px) {
  .sec4Boxes {
    display: flex;
    flex-direction: column;
  }
}
