.mobileNavbarMenu {
  position: absolute;
  right: 2%;
  height: 30px;
  width: 50px;
  color: black;
}

.mobileNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10vh;
}

.mobileNavbar {
  display: none;
}
