.footer {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
}

.link {
  padding: 2px;
  margin: 2px;
}
